@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0 0 48px 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: #f0f0f0;
  background: url("../img/bg.jpeg") center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #3f76bd;
  background-blend-mode: multiply;
}

body .container {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1100px;
  margin: auto;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
}

/* Nav Bar */
header {
  position: -webkit-sticky;
  position: sticky;
  top: -.5px;
  z-index: 20;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }
}

header > nav {
  font-family: 'Open Sans', sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#097180), color-stop(50%, #1055a7), to(#03306a));
  background: linear-gradient(90deg, #097180 0%, #1055a7 50%, #03306a 100%);
  padding: .5rem;
}

header > nav .wrapper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  header > nav .wrapper-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header > nav .wrapper-nav .wrapper-ul-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > nav .wrapper-nav .wrapper-ul-icon .wrapper-icon {
  display: inline-block;
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  header > nav .wrapper-nav .wrapper-ul-icon .wrapper-icon {
    display: none;
  }
}

header > nav .wrapper-nav .wrapper-ul-icon .wrapper-icon .social-icon-1,
header > nav .wrapper-nav .wrapper-ul-icon .wrapper-icon .social-icon-2,
header > nav .wrapper-nav .wrapper-ul-icon .wrapper-icon .social-icon-3 {
  padding: .3rem;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.795);
}

header > nav .wrapper-nav .wrapper-ul-icon .wrapper-icon .social-icon-1:hover,
header > nav .wrapper-nav .wrapper-ul-icon .wrapper-icon .social-icon-2:hover,
header > nav .wrapper-nav .wrapper-ul-icon .wrapper-icon .social-icon-3:hover {
  color: white;
}

header > nav .wrapper-nav .wrapper-ul-icon .wrapper-icon .social-icon-3 {
  font-size: 1.5rem;
}

header > nav .wrapper-nav .wrapper-ul-icon .active {
  font-weight: 700;
}

header > nav .wrapper-nav .wrapper-ul-icon .submenu {
  position: relative;
}

header > nav .wrapper-nav .wrapper-ul-icon .submenu ul {
  display: none;
  z-index: 1;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  header > nav .wrapper-nav .wrapper-ul-icon .submenu ul {
    width: 170px;
  }
}

header > nav .wrapper-nav .wrapper-ul-icon .submenu:hover ul {
  display: block;
  position: absolute;
}

@media screen and (max-width: 768px) {
  header > nav .wrapper-nav .wrapper-ul-icon .submenu:hover ul {
    position: relative;
    padding-left: 0;
  }
}

header > nav .wrapper-nav > a {
  color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  header > nav .wrapper-nav > a {
    padding: .5rem;
  }
}

header > nav .wrapper-nav > a:hover {
  text-decoration: none;
}

header > nav .wrapper-nav > a > div > span {
  padding: 1rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 830px) {
  header > nav .wrapper-nav > a > div > span {
    display: none;
  }
}

header > nav .wrapper-nav .logo {
  width: 65px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  header > nav .wrapper-nav .logo {
    width: 45px;
  }
}

header > nav .wrapper-nav .logo span {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  header > nav .wrapper-nav > div, header > nav .wrapper-nav div {
    width: 100%;
    padding-left: 0;
  }
}

header > nav .wrapper-nav > div > div > ul, header > nav .wrapper-nav div > div > ul {
  margin: 0 0;
  position: relative;
  right: 0;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  header > nav .wrapper-nav > div > div > ul, header > nav .wrapper-nav div > div > ul {
    width: 100%;
    padding-left: 0;
  }
}

header > nav .wrapper-nav > div > div > ul > li, header > nav .wrapper-nav div > div > ul > li {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  header > nav .wrapper-nav > div > div > ul > li, header > nav .wrapper-nav div > div > ul > li {
    display: inline;
  }
}

header > nav .wrapper-nav > div > div > ul > li a, header > nav .wrapper-nav div > div > ul > li a {
  text-decoration: none;
}

header > nav .wrapper-nav > div > div > ul > li a,
header > nav .wrapper-nav > div > div > ul > li span, header > nav .wrapper-nav div > div > ul > li a,
header > nav .wrapper-nav div > div > ul > li span {
  font-size: 1.2rem;
  color: #f0f0f0;
  background-color: #0c698a;
  padding: .5rem 1rem;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header > nav .wrapper-nav > div > div > ul > li a,
  header > nav .wrapper-nav > div > div > ul > li span, header > nav .wrapper-nav div > div > ul > li a,
  header > nav .wrapper-nav div > div > ul > li span {
    text-align: center;
  }
}

header > nav .wrapper-nav > div > div > ul > li a:hover,
header > nav .wrapper-nav > div > div > ul > li a span:hover,
header > nav .wrapper-nav > div > div > ul > li span:hover,
header > nav .wrapper-nav > div > div > ul > li span span:hover, header > nav .wrapper-nav div > div > ul > li a:hover,
header > nav .wrapper-nav div > div > ul > li a span:hover,
header > nav .wrapper-nav div > div > ul > li span:hover,
header > nav .wrapper-nav div > div > ul > li span span:hover {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #44d8c99d;
}

header > nav .wrapper-nav > div > div > ul > li li > a, header > nav .wrapper-nav div > div > ul > li li > a {
  background-color: #0081749d;
}

/* Carousel Bootstrap */
.carousel-item {
  max-height: 500px;
}

.carousel-item .carousel-title {
  font-size: 1.4rem;
}

/* Grid */
.grid-layout {
  margin-top: 1rem;
  gap: 1rem;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "grid-area-1    grid-area-1     grid-area-1     grid-area-1     grid-area-1     grid-area-1" "grid-area-2    grid-area-2     grid-area-2     grid-area-3     grid-area-3     grid-area-3" "grid-area-4    grid-area-4     grid-area-4     grid-area-5     grid-area-5     grid-area-5" "grid-area-7    grid-area-7     grid-area-7     grid-area-6     grid-area-6     grid-area-6" "grid-area-8    grid-area-8     grid-area-9     grid-area-9     grid-area-10    grid-area-10";
}

@media screen and (max-width: 768px) {
  .grid-layout {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "grid-area-1    grid-area-1     grid-area-1     grid-area-1" "grid-area-2    grid-area-2     grid-area-2     grid-area-2" "grid-area-3    grid-area-3     grid-area-3     grid-area-3" "grid-area-5    grid-area-5     grid-area-5     grid-area-5" "grid-area-4    grid-area-4     grid-area-4     grid-area-4" "grid-area-7    grid-area-7     grid-area-7     grid-area-7" "grid-area-6    grid-area-6     grid-area-6     grid-area-6" "grid-area-8    grid-area-8     grid-area-9     grid-area-9" "...........    grid-area-10     grid-area-10     ...........";
  }
}

@media screen and (max-width: 425px) {
  .grid-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "grid-area-1" "grid-area-2" "grid-area-3" "grid-area-5" "grid-area-4" "grid-area-7" "grid-area-6" "grid-area-8" "grid-area-9" "grid-area-10";
  }
}

.grid-layout .grid-area-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: grid-area-1;
}

.grid-layout .grid-area-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: grid-area-2;
}

.grid-layout .grid-area-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: grid-area-3;
}

.grid-layout .grid-area-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: grid-area-4;
}

.grid-layout .grid-area-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: grid-area-5;
}

.grid-layout .grid-area-6 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: grid-area-6;
}

.grid-layout .grid-area-7 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: grid-area-7;
}

.grid-layout .grid-area-8 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: grid-area-8;
}

.grid-layout .grid-area-9 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: grid-area-9;
}

.grid-layout .grid-area-10 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: grid-area-10;
}

.grid-layout .grid-area-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid-layout .grid-area-1 {
    margin-bottom: 1rem;
  }
}

.grid-layout .grid-area-1 > div {
  padding: 2rem 1rem 0 1rem;
  text-align: center;
  line-height: 1.8;
}

.grid-layout .grid-area-1 > div > h2 {
  padding: 2rem 1rem 0 1rem;
}

.grid-layout .grid-area-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
}

.grid-layout .grid-area-2 > div {
  padding: 1rem;
}

.grid-layout .grid-area-3 > .grid-area-3-img {
  width: 100%;
  height: 300px;
  background-image: url(../img/cam.jpg);
  background-size: cover;
  background-position: center;
}

.grid-layout .grid-area-4 > .grid-area-4-img {
  width: 100%;
  height: 300px;
  background-image: url(../img/onsite.jpg);
  background-size: cover;
  background-position: center;
}

.grid-layout .grid-area-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
}

.grid-layout .grid-area-5 > div {
  padding: 1rem;
}

.grid-layout .grid-area-6 > .grid-area-6-img {
  width: 100%;
  height: 300px;
  background-image: url(../img/webdev7.jpg);
  background-size: cover;
  background-position: center;
}

.grid-layout .grid-area-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
}

.grid-layout .grid-area-7 > div {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .grid-layout .grid-area-8, .grid-layout .grid-area-9, .grid-layout .grid-area-10 {
    margin-top: 1rem;
  }
}

.grid-layout .grid-area-8 .card, .grid-layout .grid-area-9 .card, .grid-layout .grid-area-10 .card {
  margin-bottom: 1rem;
  width: 100%;
  height: 450px;
  background-color: rgba(24, 53, 133, 0.6);
  overflow: hidden;
}

.grid-layout h3 {
  font-size: 1.4rem;
}

/* Footer */
footer {
  background: -webkit-gradient(linear, left top, right top, from(#097180), color-stop(50%, #1055a7), to(#03306a));
  background: linear-gradient(90deg, #097180 0%, #1055a7 50%, #03306a 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
}

footer > div > p {
  padding-top: 1rem;
}

/* Contacto */
form {
  background-color: #2b558052;
  color: #f0f0f0;
}

iframe {
  width: 100%;
  height: 400px;
  padding: 1rem;
}

/* Quienes Somos */
.jumbotron {
  color: #f0f0f0;
  background-color: #2b558052;
}

/* Servicios-Notebooks */
.my-card-deck-lp,
.my-card-deck-cam {
  width: 900px;
}

.my-card-deck-lp > .my-card,
.my-card-deck-cam > .my-card {
  background-color: #02030438;
  text-align: center;
}

.my-card-deck-lp > .my-card h2,
.my-card-deck-cam > .my-card h2 {
  font-size: 1.3rem;
}

/*Camaras Animation*/
.my-card-deck-cam > .my-card > img {
  -webkit-animation: animation-card 7s .5s ease-in-out both 3;
  animation: animation-card 7s .5s ease-in-out both 3s;
}

@-webkit-keyframes animation-card {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  25% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  50% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}

@keyframes animation-card {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  25% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  50% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}

/* Diseño Web */
.card-web-dev {
  background-color: inherit;
}

.card-web-dev h2 {
  font-size: 1.6rem;
}
/*# sourceMappingURL=styles.css.map */