@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    color: #f0f0f0;
}

body {
    margin: 0;
    padding: 0 0 48px 0;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url("../img/bg.jpeg") center;
    background-size: contain;
    background-attachment: fixed;
    background-color: rgb(63, 118, 189);
    background-blend-mode: multiply;
    .container {
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 1100px;
        margin: auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #f0f0f0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

p {
    font-size: 1.1rem;
    color: #f0f0f0;
}

/* Nav Bar */

header {
    position: sticky;
    top: -.5px;
    z-index: 20;
    @media screen and (max-width: 768px) {
        position: relative;
    }

     > nav {
        font-family: 'Open Sans', sans-serif;
        background: linear-gradient(90deg, rgba(9,113,128,1) 0%, rgba(16,85,167,1) 50%, rgba(3,48,106,1) 100%);
        padding: .5rem;

        .wrapper-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .wrapper-ul-icon {
                display: flex;

                .wrapper-icon {
                    display: inline-block;
                    margin-left: 1rem;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }

                    .social-icon-1,  
                    .social-icon-2, 
                    .social-icon-3 {
                        padding: .3rem;
                        font-size: 1.3rem;
                        color: rgba(255, 255, 255, 0.795);
                        &:hover {
                            color: white;
                        }
                    }

                    .social-icon-3 {
                        font-size: 1.5rem;
                    }
                }

                & .active {
                    font-weight: 700;
                }
    
                & .submenu {
                    position: relative;
        
                    & ul {
                        display: none;
                        z-index: 1;
                        list-style-type: none;
                        @media screen and (min-width: 768px) {
                            width: 170px;
                        }
                    }
        
                    &:hover ul {
                        display: block;
                        position: absolute;
                        @media screen and (max-width: 768px) {
                            position: relative;
                            padding-left: 0;
                        }
                    }
                }
            }

            & > a {
                color: #f0f0f0;
                @media screen and (max-width: 768px) {
                    padding: .5rem;
                }

                &:hover {
                    text-decoration: none;
                }

                & > div > span {
                    padding: 1rem;
                    font-size: 1.2rem;
                    @media screen and (max-width: 830px) {
                        display: none;
                    }
                }
            }

            .logo {
                width: 65px;
                height: auto;
                display: flex;
                justify-content: end;
                align-items: center;
                @media screen and (max-width: 768px) {
                    width: 45px;
                }
                span {
                    font-family: 'Nunito', sans-serif;
                    font-size: 1.5rem;
                }
            }
            
            & > div, div {
            @media screen and (max-width: 768px) {
                width: 100%;
                padding-left: 0;
                }

                & > div > ul {
                    margin: 0 0;
                    position: relative;
                    right: 0;
                    display: inline-block;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        padding-left: 0;
                    }
    
                    & > li {
                        display: inline-block;
                        @media screen and (max-width: 768px) {
                            display: inline;
                        }
    
                        a {
                            text-decoration: none;
                        }
    
                        a,
                        span {
                            font-size: 1.2rem;
                            color: #f0f0f0;
                            background-color: #0c698a;
                            padding: .5rem 1rem;
                            display: block;
                            cursor: pointer;
                            @media screen and (max-width: 768px) {
                                text-align: center;
                            }
    
                            &:hover,
                            span:hover {
                            color: #f0f0f0;
                            text-decoration: none;
                            font-size: 1.2rem;
                            background-color: #44d8c99d;
                            }
                        }
    
                        li > a {
                            background-color: #0081749d;
                        }
                    }
                }
            }
        }
    }
}

/* Carousel Bootstrap */

.carousel-item {
    max-height: 500px;
}

/* Grid */

.grid-layout {
    margin-top: 1rem;
    gap: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "grid-area-1    grid-area-1     grid-area-1     grid-area-1     grid-area-1     grid-area-1"
        "grid-area-2    grid-area-2     grid-area-2     grid-area-3     grid-area-3     grid-area-3"
        "grid-area-4    grid-area-4     grid-area-4     grid-area-5     grid-area-5     grid-area-5"
        "grid-area-7    grid-area-7     grid-area-7     grid-area-6     grid-area-6     grid-area-6"
        "grid-area-8    grid-area-8     grid-area-9     grid-area-9     grid-area-10    grid-area-10";
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "grid-area-1    grid-area-1     grid-area-1     grid-area-1"
                "grid-area-2    grid-area-2     grid-area-2     grid-area-2"
                "grid-area-3    grid-area-3     grid-area-3     grid-area-3"
                "grid-area-5    grid-area-5     grid-area-5     grid-area-5"
                "grid-area-4    grid-area-4     grid-area-4     grid-area-4"
                "grid-area-7    grid-area-7     grid-area-7     grid-area-7"
                "grid-area-6    grid-area-6     grid-area-6     grid-area-6"
                "grid-area-8    grid-area-8     grid-area-9     grid-area-9"
                "...........    grid-area-10     grid-area-10     ...........";
        }
        @media screen and (max-width: 425px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "grid-area-1"
                "grid-area-2"
                "grid-area-3"
                "grid-area-5"
                "grid-area-4"
                "grid-area-7"
                "grid-area-6"
                "grid-area-8"
                "grid-area-9"
                "grid-area-10";
        }
    .grid-area-1 {grid-area: grid-area-1;}
    .grid-area-2 {grid-area: grid-area-2;}
    .grid-area-3 {grid-area: grid-area-3;}
    .grid-area-4 {grid-area: grid-area-4;}
    .grid-area-5 {grid-area: grid-area-5;}
    .grid-area-6 {grid-area: grid-area-6;}
    .grid-area-7 {grid-area: grid-area-7;}
    .grid-area-8 {grid-area: grid-area-8;}
    .grid-area-9 {grid-area: grid-area-9;}
    .grid-area-10 {grid-area: grid-area-10;}

    .grid-area-1 {
        @include flexCenter();
        width: 100%;
        @media screen and (min-width: 768px) {
            margin-bottom: 1rem;
        }
        > div {
            padding: 2rem 1rem 0 1rem;
            text-align: center;
            line-height: 1.8;
            > h2 {
                padding: 2rem 1rem 0 1rem;
                font-size: 1.8rem
            }
        }
    }

    .grid-area-2 {
        @include flexCenter();
        text-align: center;
        padding: 1rem;

        > div {
            padding: 1rem;
        }
    }

    .grid-area-3 > .grid-area-3-img {
        width: 100%;
        height: 300px;
        background-image: url(../img/cam.jpg);
        background-size: cover;
        background-position: center;
    }


    .grid-area-4 > .grid-area-4-img {
        width: 100%;
        height: 300px;
        background-image: url(../img/onsite.jpg);
        background-size: cover;
        background-position: center;
    }


    .grid-area-5 {
        @include flexCenter();
        text-align: center;
        padding: 1rem;

        > div {
            padding: 1rem;
        }
    }

    .grid-area-6 > .grid-area-6-img {
        width: 100%;
        height: 300px;
        background-image: url(../img/webdev7.jpg);
        background-size: cover;
        background-position: center;
    }

    .grid-area-7 {
        @include flexCenter();
        text-align: center;
        padding: 1rem;

        > div {
            padding: 1rem;
        }
    }

    .grid-area-8, .grid-area-9, .grid-area-10 {
        @media screen and (min-width: 768px) {
            margin-top: 1rem;
        }
        .card {
            margin-bottom: 1rem;
            width: 100%;
            height: 450px;
            background-color: rgba($color: #183585, $alpha: .6);
            overflow: hidden;
        }
    }
}

/* Footer */

footer {
    background: linear-gradient(90deg, rgba(9,113,128,1) 0%, rgba(16,85,167,1) 50%, rgba(3,48,106,1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;

    > div > h2 {
        font-size: 1.2rem;
        padding-top: 1rem;
    }
}

/* Contacto */

form {
    background-color: #2b558052;
    color: #f0f0f0;
}

iframe {
    width: 100%;
    height: 400px;
    padding: 1rem;
}

/* Quienes Somos */

.jumbotron {
    color: #f0f0f0;
    background-color: #2b558052
}

/* Servicios-Notebooks */

.my-card-deck-lp,
.my-card-deck-cam {
    width: 900px;
    > .my-card {
        background-color: #02030438;
        text-align: center;        
    }
}

.my-card-deck-cam > .my-card {
    & > img {
        @-webkit-keyframes animation-card {
            0% {
              -webkit-transform: rotateX(0);
                      transform: rotateX(0);
            }
            25% {
                -webkit-transform: rotateX(-180deg);
                        transform: rotateX(-180deg);
              }
            50% {
                -webkit-transform: rotateX(-360deg);
                        transform: rotateX(-360deg);
              }
            100% {
              -webkit-transform: rotateX(-360deg);
                      transform: rotateX(-360deg);
            }
          }
          @keyframes animation-card {
            0% {
              -webkit-transform: rotateX(0);
                      transform: rotateX(0);
            }
            25% {
                -webkit-transform: rotateX(-180deg);
                        transform: rotateX(-180deg);
              }
            50% {
                -webkit-transform: rotateX(-360deg);
                        transform: rotateX(-360deg);
              }
            100% {
              -webkit-transform: rotateX(-360deg);
                      transform: rotateX(-360deg);
            }
          }

        -webkit-animation: animation-card 7s .5s ease-in-out both 3;
        animation: animation-card 7s .5s ease-in-out both 3s;
    }
}

/* Diseño Web */

.card-web-dev {
    background-color: inherit;
}